@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

.blog{
    padding-top: 8vh;
    display: flex;
    justify-content: center;
    .blog__content{
        width: 80vw;
        .blog__image{
            height: 65vh;
            background-color: greenyellow;
            margin-top: 1vw;
            img{
                height: 100%;
                width: 100%;
            }
        }
        .blog__info{
            display: flex;
            .blog__info__left{
                flex: .2;
                display: flex;
                flex-direction: column;
                padding-top: 3vw;
                align-items: center;
                .icon{
                    margin-top: .5vw;
                }
            }
            .blog__info__right{
                flex: 2.8;
                .blog__head{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 3vw;
                    width: 60%;
                    font-weight: 700;
                    padding-bottom: 1vw;
                    padding-top: 3vw;
                    color: rgb(5, 13, 61);
                }
                .blog__body{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1vw;
                    width: 80%;
                    color: rgb(5, 13, 61);
                }
                .blog__page{
                    padding-top: 2vw;
                    .content{
                        padding-top: 2vw;
                        .head{
                            font-weight: 600;
                            font-size: 1.2vw;
                            font-family: 'Montserrat', sans-serif;
                            padding-bottom: .5vw;
                            width: 70%;
                            color: rgb(5, 13, 61);
                        }
                        .body{
                            font-family: 'Montserrat', sans-serif;
                            font-size: .9vw;
                            width: 80%;
                            color: rgb(5, 13, 61);
                            font-weight: 500;
                        }
                    }
                }
            }
        }
        .drive{
            background-color: #3131f5;
            height: 10vh;
            margin: 1vw;
            padding: 1vw;
            .head{
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 4vw;
                color: #ffffff;
            }
        }
    }
}

@media only screen and (max-width: 640px){
    .blog{
        padding-top: 1vh;
        display: block;
        margin: 1vw;
        overflow-x: hidden;
        overflow-y: visible;
        .blog__content{
            width: 100vw;
            height: auto;
            .blog__image{
                height: 30vh;
            }
            .blog__info{
                padding: 2vw;
                display: block;
                .blog__info__left{
                    flex-direction: row;
                }
                .blog__info__right{
                    .blog__head{
                        font-size: 7vw;
                        width: 100%;
                    }
                    .blog__body{
                        font-size: 4vw;
                        width: 100%;
                    }
                    .blog__page{
                        .content{
                            .head{
                                font-size: 6vw;
                                width: 100%;
                                padding-top: 3vw;
                            }
                            .body{
                                font-size: 3vw;
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .drive{
                margin-top: 3vw;
                padding: 0;
                display: flex;
                align-items: flex-end;
                .head{
                    font-size: 8vw;
                }
            }
        }
    }
}