@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

.gmap{
    .marker{
        color: azure;
        font-size: 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        .icon{
            color: rgb(196, 0, 0);
        }
    }
}